@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.qAnda {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 30px;
  background: linear-gradient(135deg, #e3d9fd 0%, #c3e0ff 100%);
  border-radius: 7px;
  box-shadow: 20px 20px 60px #bebebe;
  padding: 1.3rem;
}

.qus {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: rgb(107, 70, 180);
}

.ans {
  font-size: 15px;
  font-weight: 400;
  color: rgb(55, 55, 55);
}
