.regContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regForm {
  margin-top: 20vh;
  width: 400px;
  padding: 40px;
  border-radius: 15px;
  background: linear-gradient(145deg, #2b86c5 0%, #ff3cac 100%);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.loginHeading {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(221, 212, 230);
}

.emailName {
  color: aliceblue;
  font-weight: 600;
}

.regWith {
  font-size: 15px;
}
.iconsgg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.loginIcon {
  /* font-size: 2rem; */
  background-color: #fbd7f2;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.iputField {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #ad12a0, -10px -10px 60px #ffffff;
  transition: 0.3s;
}
.iputField:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

/* another button  */
.btn2 {
  padding: 0.7em 1.4em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btn2:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn2:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn2:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn2:active {
  transform: scale(0.9);
}
