.navbar-nav a {
  text-decoration: none;
  color: white;
}
.navbar-brand a {
  text-decoration: none;
  color: white;
}

.customNav {
  background: linear-gradient(135deg, #4a3a7c 0%, #7a399d 100%);
}
