footer {
  color: #fff;
  background: #2e2e2e;
  padding: 1.8rem;
}
.footer-area {
  text-align: center;
}

.myName {
  text-decoration: none;
  color: #c5c9b3;
  font-size: 1.7rem;
  font-weight: 700;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
  font-size: 2.5rem;
  transition: all 0.25s ease-in-out;
}
