.footerContainer {
  position: relative;
  bottom: -20.8vh;
  left: 0;
  right: 0;
}
footer {
  color: #fff;
  background: #77399b;
  padding: 1rem;
}
.footer-area {
  text-align: center;
}

.myName {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
}
.myName:hover {
  color: #e6bbff;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
  font-size: 2.5rem;
  transition: all 0.25s ease-in-out;
}
.social-icons a:hover {
  color: #e6bbff;
  font-size: 2.8rem;
}
